@page
@model ExamBooklet.Pages.Booklet.IndexModel
@{
}
<br/>
<h2>List of Booklets</h2>
<script>
	function confirmLogout() {
  if (window.confirm("Are you sure you want to log out?")) {
	window.location.href = "/Accounts/LecturerLogin"; // redirect to logout URL
  }
}
</script>

<div class="table-responsive-lg">
	<table class="table">
		<thead>
			<tr>
				<th>Booklet ID</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Faculty Name</th>
				<th>Department Name</th>
				<th>Course Code</th>
				<th>Course Name</th>
				<th>ExamDate</th>
				<th>Lecture Name</th>
				<th>Supervisor Name</th>
				<th>Marks</th>
				<th>Claim</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.listBooklets)
			{
					<tr>
						<td>@item.BookletId</td>
						<td>@item.StudentId</td>
						<td>@item.StudentName</td>
						<td>@item.FacultyName</td>
						<td>@item.DepartmentName</td>
						<td>@item.CourseCode</td>
						<td>@item.CourseName</td>
						<td>@item.ExamDate</td>
						<td>@item.LectureName</td>
						<td>@item.SupervisorName</td>
						<td>@item.Marks</td>
						<td>@item.Claim</td>
						<td>
				
							<a class="btn btn-primary btn-lg" href="/Booklet/Edit?BookletId=@item.BookletId">Edit Record</a>
							
						</td>

					</tr>
			}
		</tbody>
	</table>
</div>
 
<button class='btn btn-danger' onclick="confirmLogout()">Logout</button>
